mat-card{
    margin-top:2%; 
    width:50%;
    margin-left: auto;
    margin-right: auto;
    
}

button {
   
    float: right;
    margin-right: 2%;
    margin-bottom: 2%;
}

a {
    text-decoration: none !important;   
    color: #3f51b5;
    
}